<div class="scroll-wrap" [ngClass]="{top: isHome}" #scrollBoxRef>
  <div>
    <ng-content></ng-content>
    <div class="load-box" *ngIf="pullUpLoad; else elseTemplate">
      <div class="anim-box" *ngIf="loadConfig.flag">
        <i class="item" *ngFor="let item of [1, 2, 3, 4, 5, 6]; index as index; trackBy: handleBy"></i>
      </div>
      <ng-template #elseTemplate>
        <div class="text-box">
          <span class="line"></span>
          <span class="text">{{loadConfig.text}}</span>
          <span class="line"></span>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="refresh-box" *ngIf="pullDownRefresh" #refreshRef>
    <div class="anim-box" *ngIf="refreshConfig.flag; else elseTemplate">
      <div class="item-box">
        <i class="item" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]; index as index; trackBy: handleBy"></i>
      </div>
    </div>
    <ng-template #elseTemplate>
      <div class="text-box">{{refreshConfig.text}}</div>
    </ng-template>
  </div>
</div>