<div class="message-wrap">
  <header class="message-head">
    <i class="icon-back icon-undo2" (click)="location.back()"></i>
    <span>消息中心</span>
  </header>
  <nav class="message-nav">
    <a class="item" [ngClass]="{active: !active}" (click)="onToggleNav(false)">{{'未读消息：' + unreadList.length}}</a>
    <a class="item" [ngClass]="{active: active}" (click)="onToggleNav(true)">{{'已读消息：' + readList.length}}</a>
  </nav>
  <app-scroll class="message-main" [data]="onList()" (scroll)="onNowPos($event)" #scroll>
    <ul class="home-list">
      <li (click)="$router.navigate(['./topic', item.topic?.id], {queryParams: {id: item.id}})" class="item" *ngFor="let item of onList()">
        <div class="avatar-box">
          <img class="avatar" width="40" height="40" [src]="item.author?.avatar_url" alt="">
        </div>
        <dl class="text-box">
          <dt class="title">{{item.topic?.title}}</dt>
          <dd class="other">
            <span class="name">{{'回复人：' + item.author?.loginname}}</span>
            <time class="time">{{onFormatTime(item.create_at)}}</time>
          </dd>
        </dl>
      </li>
    </ul>
    <div class="btn-box">
      <a class="btn-read" *ngIf="!active && unreadList.length" (click)="onClearUnread()">清空未读消息</a>
      <a class="btn-tip" *ngIf="(!active && !unreadList.length) || (active && !readList.length)">此处毫无生机。。。</a>
    </div>
  </app-scroll>
  <app-top [nowPos]="nowPos" (top)="onResetTop()"></app-top>
</div>
