$fswhite: #fff;
$fs005: #0054ef;

$bgwhite: #fff;
$bgccc: #ccc;
$bg00a: #00aeef;
$bge43: #e43d76;

$bdwhite: #fff;
$bdccc: #ccc;
$bde43: #e43d76;

@mixin frow($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin fcol($justify-content: center, $align-items: center) {
  @include frow($justify-content, $align-items);
  flex-direction: column;
}

@mixin dot() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
