<div class="home-wrap">
  <header class="home-head">
    <i class="icon-menu" (click)="isMark = !isMark"></i>
    <span>NodeJS论坛</span>
    <i class="icon-tip icon-bell" (click)="$router.navigate(['/message'])" *ngIf="unreadNum">
      <i class="num">{{unreadNum}}</i>
    </i>
  </header>
  <nav class="home-nav">
    <a class="item" [ngClass]="{active: active == item.alias}" *ngFor="let item of menus" (click)="onSelect(item)">{{item.name}}</a>
  </nav>
  <app-scroll class="home-main" [data]="list" [pullDownRefresh]="pullDownRefresh" [pullUpLoad]="pullUpLoad" [isPullOver]="isPullOver"
    [isLoading]="isLoading" (scroll)="onNowPos($event)" (refresh)="onInitDate(true, {isRefresh: true})" (load)="onInitDate(false, {isLoading: true})"
    #scroll>
    <ul class="home-list">
      <li class="item" (click)="$router.navigate(['/topic', item.id])" *ngFor="let item of list">
        <div class="avatar-box">
          <img class="avatar" width="40" height="40" [src]="item.author.avatar_url" alt="">
        </div>
        <dl class="text-box">
          <dt class="title">
            <i class="top" *ngIf="item.top">顶</i>
            <i class="good" *ngIf="item.good">精</i>
            <i>{{item.title}}</i>
          </dt>
          <dd class="other">
            <span class="num">{{item.reply_count + '/' + item.visit_count}}</span>
            <time class="time">{{onFormatTime(item.create_at)}}</time>
          </dd>
        </dl>
      </li>
    </ul>
  </app-scroll>
  <app-top [nowPos]="nowPos" (top)="onResetTop()"></app-top>
  <div class="home-mark" *ngIf="isMark" (click)="isMark = !isMark" [@opacity]></div>
  <div class="center-box" *ngIf="isMark" [@slide]>
    <div class="avatar-box">
      <ng-container *ngIf="logined == 1; else elseTemplate">
        <img width="60px" height="60" class="avatar" [src]="user.avatar_url" [alt]="user.loginname">
        <div class="name">{{user.loginname}}</div>
        <div class="score">{{'积分：' + user.loginname}}</div>
        <time class="time">{{'注册于：' + onFormatTime(user.create_at)}}</time>
        <a class="btn-logout" (click)="onLogout()">登出</a>
      </ng-container>
      <ng-template #elseTemplate>
        <img width="60px" height="60" class="avatar" [src]="avatar" alt="默认头像" (click)="$router.navigate(['./login'])">
        <div class="tip">点击头像登录</div>
      </ng-template>
    </div>
    <ul class="user-box" *ngIf="logined == 1">
      <li class="item" (click)="$router.navigate(['/user', user.loginname])">
        <i class="icon-item icon-user-tie"></i>
        <span>个人中心</span>
      </li>
      <li class="item" (click)="$router.navigate(['/topics'])">
        <i class="icon-item icon-quill"></i>
        <span>新建主题</span>
      </li>
      <li class="item" (click)="$router.navigate(['/message'])">
        <i class="icon-item icon-bell"></i>
        <span>消息</span>
      </li>
    </ul>
  </div>
</div>
