<div class="user-wrap">
  <app-header>
    <span>用户中心</span>
  </app-header>
  <app-scroll class="user-main" [data]="list" (scroll)="onNowPos($event)" *ngIf="list.length" #scroll>
    <div class="user-box">
      <img width="60" height="60" class="avatar" [src]="user.avatar_url" [alt]="user.loginname">
      <div class="author">{{user.loginname}}</div>
      <div class="score">{{'积分：' + user.score}}</div>
      <time class="time">{{'注册于：' + onFormatTime(user.create_at)}}</time>
    </div>
    <ul class="user-list user-topics" *ngIf="user.recent_topics && user.recent_topics.length">
      <li class="item-item caption">最近创建的话题</li>
      <ng-container *ngFor="let item of user.recent_topics; let index = index">
        <li class="item-item item" *ngIf="index < 10" (click)="onLink(item)">
          <img width="40" height="40" class="avatar" [src]="item.author?.avatar_url" [alt]="item.author?.loginname">
          <h2 class="title">{{item.title}}</h2>
        </li>
      </ng-container>
    </ul>
    <ul class="user-list user-replies" *ngIf="user.recent_replies && user.recent_replies.length">
      <li class="item-item caption">最近参与的话题</li>
      <ng-container *ngFor="let item of user.recent_replies; let index = index">
        <li class="item-item item" *ngIf="index < 10" (click)="onLink(item)">
          <img width="40" height="40" class="avatar" [src]="item.author?.avatar_url" [alt]="item.author?.loginname">
          <h2 class="title">{{item.title}}</h2>
        </li>
      </ng-container>
    </ul>
    <ul class="user-list user-collection" *ngIf="user2.length">
      <li class="item-item caption">收藏的话题</li>
      <ng-container *ngFor="let item of user2; let index = index">
        <li class="item-item item" *ngIf="index < 10" (click)="onLink(item)">
          <img width="40" height="40" class="avatar" [src]="item.author?.avatar_url" [alt]="item.author?.loginname">
          <h2 class="title">{{item.title}}</h2>
        </li>
      </ng-container>
    </ul>
    <div class="placeholder"></div>
  </app-scroll>
  <app-top [nowPos]="nowPos" (top)="onResetTop()"></app-top>
</div>
