.scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .load-box {
    height: 50px;
    font-size: 14px;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
  .refresh-box {
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    height: 50px;
    z-index: 9;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}
